@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    line-height: normal;
}

body {
    background-color: #080808;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.day-stats__condition_text{
    color: #fff;
    font-size: 16px;
}

main {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    width: fit-content;
    height: 635px;

    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    overflow: hidden;
}


main.clouds {
    background: url('../img/cloudy.jpeg');
}

main.sunny {
    background: url('../img/sunny.jpeg');
}

main.overcast {
    background: url('../img/overcast.jpeg');
}

main.mist,
main.Mist,
main.haze,
main.smoke {
    background: url('../img/mist.jpeg');
}

main.rain {
    background: url('../img/rain.jpeg');
}

main.snow {
    background: url('../img/snow.jpeg');
}

main.sleet {
    background: url('../img/sleet.jpeg');
}

main.drizzle {
    background: url('../img/drizzle.jpeg');
}

main.thunder,
main.thundery {
    background: url('../img/thunder.jpeg');
}

main.blizzard {
    background: url('../img/blizzard.jpeg');
}

main.fog {
    background: url('../img/fog.jpeg');
}

main.ice {
    background: url('../img/ice.jpeg');
}

main.shower {
    background: url('../img/shower.jpeg');
}

main.showers {
    background: url('../img/showers.jpeg');
}

main.clear {
    background: url('../img/clear.jpeg');
}


.side-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 250px; 
    padding: 40px;
    height: 100%;

    border-right: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(22.5px);
}

/* .side-container-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
} */ 


/* Search Form */
.search-container {
    width: 100%;
    padding-bottom: 6px;
    margin-bottom: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #ffffff;
}

.geo-input {
    all:unset;
    flex:1;
    width: 100%;

    margin: 0 10px;

    color: rgba(255, 255, 255, 1);
    font-size: 13px;
}

.geo-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


.search-button {
    border: none;
    background: transparent;
    -webkit-animation: none;
    height: 22px;

    cursor: pointer;
}

/* 

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    background: transparent;
    color: #333;
}

.search-input::placeholder {
    color: #999;
}


.search-btn:hover {
    color: #333;
} */

/* Day Stats */
.day-stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    z-index: 2;
}


.day-stats__temperature {
    color: #fff;
    font-size: 50px;
    line-height: 100%;
}

.day-stats__temperature_value {
    line-height: 100%;
}


.day-stats__feelslike {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 6px;
    margin-top: 9px;
}


.day-stats_conditions {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
    margin-top: 20px;
    width: 100%;
}

.day-stats_conditions li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

}

.day-stats_condition{
    color: #fff;
    font-size: 24px;
    line-height: 100%;
}

.day-stats_condition_text{
    color: #fff;
    font-size: 13px;
}

/* Main Display Container */
.main-container {
    position: relative;
    width: calc(1079px - 259px);
    height: 530px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 75px;

    background-image: url('../img/main-blur.png');
}

.secondary-title {
    margin-bottom: 17px;
    color: #fff;
    font-size: 13px;

}

.weather__primary-title{
    margin-bottom: 16px;
    color: #fff;
    font-size: 38px;

    line-height: 100%;
    letter-spacing: -1.9px;
}

.weather__location {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}
.forecast-temperatureValue {
    font-size: 15px;   /* change size */
    font-weight: 400;
}

.location-icon {
    margin-bottom: 7px;
    margin-right: 8px;
}


.weather__location-text{
    color: #fff;
    font-size: 13px;
}


.weather__primary-stats {
    width: 360px;
    color: #fff;
    font-size: 13px;

    margin-bottom: 80px;
}

/* 
.weather-description {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}



.location-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.location-city {
    font-weight: 500;
}


.weather-stats-value {
    font-weight: 500;
} */
/* Weather Conditions List */
/* .weather-condition {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.weather-condition-item {
    text-align: center;
    padding: 10px 0;
}

.weather-condition-item-value {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.weather-condition-item-label {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
} */


/* Forecast List */
.forecast {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
} 

.forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.forecast-time {
    color: #fff;
    font-size: 14px;
    margin-bottom: 4;
}

.forecastWindText {
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
}

.forecast-temperature {
    color: #fff;

    font-size: 40px;
    font-weight: 300;
    line-height: 100%;
}

.forecast-humidity {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    line-height: 100%;
} 

/* Chart Canvas Styling (to fit within container) */
#chart {

    margin: 30px auto 30px;
    width: 100%;
}